body, h1, h2, h3, h4, h5, h6, p, div {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
}

#root {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

.navbar {
    position: absolute;
    right: 0;
    top: 20px;
}

.navbar ul {
    list-style: none;
    
}

.navbar ul li {
    display: inline-block;
    margin: 0 30px;
    cursor: pointer;
}

.navbar ul li a {
    text-decoration: none;
    color: #29A3C6;
}

.hero {
    height: 800px;
    position: relative;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    
}

.hero .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hero .content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1100px) {
  .hero .background {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }

  .hero {
    height: 600px;
  }
}

.hero .logo {
    display: block;
    margin: auto;
    padding-top: 135px;
    width: 50%;
}

.hero .call-to-action {
    text-align: center;
    margin-top: 50px;
}

.hero .call-to-action a {
    background-color: #29A3C6;
    color: white;
    display: inline-block;
    padding: 20px 30px;
    cursor: pointer;
}

.residential, .commercial, .utility, .micro {
    position: relative;
    margin-bottom: 400px;
}

.utility {
    height: 775px;
    background-size: cover;
}

.residential img, .commercial img, .utility img, .micro img {
    margin: auto;
    display: block;
    max-width: 1100px;
    width: 100%;
}

.residential .device, .commercial .device, .utility .device, .micro .device {
    position: absolute;
    bottom: -30%;
    left: 0;
    width: 25%;
}

.utility .device {
    width: 50%;
    bottom: -30%;
}

.residential .title, .commercial .title, .utility .title, .micro .title , .feature .title {
    position: absolute;
    top: 10%;
    background-color: white;
    padding: 3px 46px;
    right: 0;
    font-size: 40px;
}

.residential .description, .commercial .description, .utility .description, .micro .description{
    position: absolute;
    bottom: -25%;
    max-width: 70%;
    right: 0;
    text-align: right;
    font-size: 28px;
}

.utility .description {
    max-width: 56%;
    position: absolute;
    bottom: -30%;
}

.commercial .description, .utility .description, .micro .description {
    text-align: left;
}

@media screen and (max-width: 1100px) {
  .residential .description, .commercial .description, .utility .description, .micro .description {
    font-size: 24px;
    padding: 20px;
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
  }



  .residential .device, .commercial .device, .utility .device, .micro .device {
    position: relative;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .residential, .commercial, .utility, .micro {
      margin-bottom: 70px;
  }

  .residential .title, .commercial .title, .utility .title, .micro .title {
      font-size: 24px;
  }
}

.bold {
    font-weight: bold;
}

.footer {
    display: block;
    text-align: center;
    margin-top: 100px;
    padding: 20px 0;
    color: gray;
}

@media screen and (max-width: 600px) {
    .footer {
        font-size: 12px;
        margin-top: 50px;
    }
}

.specifications-full {
    width: 1020px;
    height: 772px;
    background-position: center;
    background-size: contain;
    margin: auto;
    margin-bottom: 200px;
    background-repeat: no-repeat;
}

.feature {
    position: relative;
    margin-bottom: 100px;
}

.feature .background-image{
    height: 770px;
}

.feature .description {
    font-size: 28px;
    padding: 15px;
}

.feature .size-matters {
    position: absolute;
    top: 15%;
    left: 5%;
}

.feature .size-matters-text {
    position: absolute;
    top: 30%;
    right: 5%;
    font-size: 28px;
}

.feature .size-matters-text div{
    margin-bottom: 15px;
}

.feature .engineering-support-1 {
    position: absolute;
    left: 5%;
    top: 5%;
}

.feature .engineering-support-2 {
    position: absolute;
    right: 5%;
    top: 20%;
    width: 50%;
}

.feature .watthub {
    position: absolute;
    right: 5%;
    bottom: 25%;
}

.feature .blue-bar {
    height: 15px;
    width: 100%;
    background-color: #1EA3C8;
}